<!DOCTYPE html>
<html lang="en" style="background-color: orange;">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Whats-Cooking</title>
		<script src="https://code.jquery.com/jquery.js"></script>
         {{!-- <img alt="Qries" style="width: 20%; height:auto; display: block; margin-left: auto; margin-right: auto" src="https://www.seriouseats.com/recipes/images/2015/07/20150728-homemade-whopper-food-lab-35-1500x1125.jpg"> --}}
		 <script src="/assets/js/items.js"></script>
		 
	</head>
	<body>
		{{{ body }}}
	</body>
</html>