{{!-- <h1>What's Cooking?!</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <header class="d-flex align-items-center text-center flex-column">
        <img id="dinner" src="/assets/img/dinner.jpeg">


        <h5>Add a new burger<h5>
            <form class="create-form">
              <div class="form-group">
                <label for="bu">Burger Name:</label>
                <input type="text" id="bu" name="name">
              </div>
              <button type="submit" id="submitBtn">Submit</button>
            </form>

      </header>
    </div>
  </div>
  <br>


  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-3 text-center">
      <h2>Burgers to devour!</h2>

      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/unless}}
        {{/each}}
      </ul>

    </div>

    <div class="col-sm-3 text-center">
      <h2>Devoured burgers!</h2>

      <ul>
        {{#each burgers}}
        {{#if devoured}}

        <li> {{burger_name}}</li>
        {{/if}}
        {{/each}}
      </ul>
    </div> --}}



    {{!-- New version from scratch below --}}


     <nav>
    <div class="nav-wrapper">
      
    <h2><a class="logo"><font color="#0d175c">What's Cooking?!</font></a></h2>
      
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        {{!-- <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li> --}}
      </ul>
    
  </nav>
 
<div class="container">
  <img id="table" src="/assets/img/4893.jpg" alt="pic">
  <div class="bottom-left">Bottom Left</div>
  <div class="top-left">Top Left</div>
  <div class="top-right">Top Right</div>
  <div class="bottom-right">Bottom Right</div>
  <div class="centered"><p>Welcome to  "What's Cooking!?" Have you ever had a hard time just figuring out what to cook for dinner?  How about trying not to waste the ingredients you already have in your refrigerator?  Can't find a recipe? Or better yet, do you find yourself not making a list when it's time to shop for those ingredients?  I know... I have too but we all have to eat, yet it seems to always be a hassle. That's why we came up with "What's Cooking!?" Hopefully by using this site it will help solve all your at home dinner problems. </p></div>
</div>
{{!-- Search bar --}}

<div id="search">
<div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search for recipes..." name="search">
      <button id="hourGlass" type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>

<div class="dropDown">
 <label>Shopping list</label>
  <select class="browser-default">
    <option value="" disabled selected>Choose your option</option>
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
    <option value="3">Option 3</option>
  </select>
  </div> 

   <div class = "go">
    <a class="waves-effect waves-light btn">Go Shopping</a>
   </div>
    
    
    
    {{!-- List Modal --}}
    <div class="mdList"
    <!-- Modal Trigger -->
    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal-list</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal 1</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
    </div>


    {{!-- Fridge Modal --}}
    <div class="mdFridge"
    <!-- Modal Trigger -->
    <a class="waves-effect waves-light btn modal-trigger" href="#modal2">Modal-Fridge</a>

  <!-- Modal Structure -->
  <div id="modal2" class="modal">
    <div class="modal-content">
      <h4>Modal 2!</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
    </div>

