<h2>items in the fridge</h2>

{{!-- check if the burger has been devoured of not, if not puts it in the section list --}}

<ul>
  {{#each food}}
  <li>
    {{food_name}}
    {{!-- {{log food}} --}}
    <button class="foodBtn" data-id={{id}}></button>
  </li>
  {{/each}}
</ul>