.nav-wrapper{

  background-color: #bebebe;
  height: 30px;
  width: 100%
  
}
/* column for the nav bar to make it responsive to small screens and up  */
.col.s12{

  padding-left: 0px;
  padding-right: 0px;
  height: 65px;
  /* max-width: 100%; */
  
  width: 100vw;


}

.a.logo{
  margin-top: 50px;
}


h2{
  color: #0d175c;
  text-align: center;
  font-weight: 800; 
  font-family: 'molle', cursive;
  font-size: 45px;
  margin-top: 0px;
  padding-top: 4px;
} 

p{

  font-size: 25px;
}

#table{
 /* width: 100%;  */
 width: 100vw;
   } 

   /* Container holding the image and the text */
 .container {
  position: relative;
  text-align: center; 
  color: white;
  margin-left: 0px;
  margin-right: 0px; 
  margin: 0px, 0px, 0px, 0px;
  /* width: 100%; */

 width: 100vw;
  
} 

/* Main Description of page */
.centered {
  position: absolute;
  width: 1300px;
  /* top: 50%; */
  /* left: 50%; */
  left: 700px;
  top: 180px;
  transform: translate(-50%, -50%);
}
/* Text box search for recipes */
#search{
  position: absolute;
  left: 600px;
  top: 350px;
  height: 49px;
  border: 1px solid whitesmoke;
  padding-left: 8px;
  width: 178.5px;
  

  
}
/* Button that contains the hourglass */
#hourGlass{
  position: absolute;
  left: 178.5px;
  top: -1.5px;
  padding-top: 6px;
  padding-right: 7px;
  padding-bottom: 6px;
  padding-left: 7px;
  border-radius: 0px,25px,25px,0px;
  border: 1px solid whitesmoke;
  border-radius: 0px 8px 8px 0px;
  height: 49.5px;
  
}

.dropDown{
  position: absolute;
  left: 100px;
  top: 435px;
  width: 200px;
 

}

label{

  font-size: 30px;
  color: whitesmoke;
}

.mdList{

  position: absolute;
  left: 600px;
  top: 600px;
}

.mdFridge{

  position: absolute;
  left: 900px;
  top: 800px;

}

.go{
  position: absolute;
  left: 303px;
  top: 484px;
}